# Node.js
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist
coverage

# TypeScript
*.tsbuildinfo

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Test files
test
